
.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 209, 155);
}
.icon-add(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 45);
		.rem(height, 45);
	}
	.hover(@isHover);
	
	.rem(background-position, -120, -55);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-add{
	.rem(background-position, -120, -55);
	.rem(width, 45);
	.rem(height, 45);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 209, 155);
}
.icon-car(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 34);
		.rem(height, 42);
	}
	.hover(@isHover);
	
	.rem(background-position, -175, 0);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-car{
	.rem(background-position, -175, 0);
	.rem(width, 34);
	.rem(height, 42);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 209, 155);
}
.icon-date(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 38);
		.rem(height, 43);
	}
	.hover(@isHover);
	
	.rem(background-position, -55, -110);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-date{
	.rem(background-position, -55, -110);
	.rem(width, 38);
	.rem(height, 43);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 209, 155);
}
.icon-del(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 30);
		.rem(height, 29);
	}
	.hover(@isHover);
	
	.rem(background-position, -175, -94);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-del{
	.rem(background-position, -175, -94);
	.rem(width, 30);
	.rem(height, 29);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 209, 155);
}
.icon-dine(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 42);
		.rem(height, 35);
	}
	.hover(@isHover);
	
	.rem(background-position, -103, -110);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-dine{
	.rem(background-position, -103, -110);
	.rem(width, 42);
	.rem(height, 35);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 209, 155);
}
.icon-edit(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 32);
		.rem(height, 32);
	}
	.hover(@isHover);
	
	.rem(background-position, -175, -52);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-edit{
	.rem(background-position, -175, -52);
	.rem(width, 32);
	.rem(height, 32);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 209, 155);
}
.icon-price(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 45);
		.rem(height, 45);
	}
	.hover(@isHover);
	
	.rem(background-position, -65, 0);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-price{
	.rem(background-position, -65, 0);
	.rem(width, 45);
	.rem(height, 45);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 209, 155);
}
.icon-route(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 55);
		.rem(height, 42);
	}
	.hover(@isHover);
	
	.rem(background-position, 0, 0);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-route{
	.rem(background-position, 0, 0);
	.rem(width, 55);
	.rem(height, 42);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 209, 155);
}
.icon-shop(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 45);
		.rem(height, 45);
	}
	.hover(@isHover);
	
	.rem(background-position, -120, 0);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-shop{
	.rem(background-position, -120, 0);
	.rem(width, 45);
	.rem(height, 45);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 209, 155);
}
.icon-time(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 45);
		.rem(height, 45);
	}
	.hover(@isHover);
	
	.rem(background-position, -65, -55);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-time{
	.rem(background-position, -65, -55);
	.rem(width, 45);
	.rem(height, 45);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 209, 155);
}
.icon-upload(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 48);
		.rem(height, 48);
	}
	.hover(@isHover);
	
	.rem(background-position, 0, -52);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-upload{
	.rem(background-position, 0, -52);
	.rem(width, 48);
	.rem(height, 48);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 209, 155);
}
.icon-warn(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 45);
		.rem(height, 45);
	}
	.hover(@isHover);
	
	.rem(background-position, 0, -110);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-warn{
	.rem(background-position, 0, -110);
	.rem(width, 45);
	.rem(height, 45);
}

